# =============================================
# These are intended to override bundle routes

        
# ==================================================
# A ProjectPerson will have Project Person PersonPlan PersonFed
cerad_person__project_person__register:
    path:  /project/{_project}/person/{_person}/register
    defaults:
        _role:       ROLE_USER
        _model:      cerad_person__project_person__model_factory
        _form:       cerad_person__project_person__register_form_factory
        _controller: cerad_person__project_person__register_controller:action
        _template: '@CeradApp/ProjectPerson/Register/RegisterIndex.html.twig'
        _redirect:   cerad_app__home

cerad_person__person__profile:
    path:  /person/{_person}/profile
    defaults:
        _role:       ROLE_USER
        _model:      cerad_person__person__profile_model_factory
        _form:       cerad_person__person__profile_form_factory
        _controller: cerad_person__person__profile_controller:action
        _template: '@CeradApp/Person/Profile/ProfilePage.html.twig'
        _redirect:   cerad_app__home
        
cerad_person_admin__project_persons__list:
    path:  /admin/project/{_project}/persons.{_format}
    defaults:
        _role:       ROLE_ADMIN
        _model:      cerad_person_admin__project_persons__list_model_factory
        _form:       cerad_person_admin__project_persons__list_form_factory
        _controller: cerad_person_admin__project_persons__list_controller:action
        _template: '@CeradApp/ProjectPersons/ListAdmin/PersonsListPage.html.twig'
        _format:     html
    requirements:
        _format:  html|csv|xls|xlsx|pdf
        
cerad_person_admin__project_person__update:
    path:  /admin/project/{_project}/person/{_person}/update
    defaults:
        _role:       ROLE_ADMIN
        _model:      cerad_person_admin__project_persons__list_model_factory
        _form:       cerad_person_admin__project_persons__list_form_factory
        _controller: cerad_person_admin__project_persons__list_controller:action
        _template: '@CeradApp/ProjectPersons/ListAdmin/PersonsListPage.html.twig'
  
# ===================================================
# Override the create user person  to allows adding referee certification
# Want to  break this into steps later on
cerad_user__user_person__create:
  path: /user-person/create
  defaults:
    _model:      cerad_user__user_person__create_model_factory
    _form:       cerad_user__user_person__create_form_factory
    _controller: cerad_user__user_person__create_controller:action
    _template: '@CeradUser\UserPerson\Create\UserPersonCreatePage.html.twig'
    
cerad_user__user_person__create_form:
  path: /user-person/create-form
  defaults:
    _route:      cerad_user__user_person__create
    _model:      cerad_user__user_person__create_model_factory
    _form:       cerad_user__user_person__create_form_factory
    _controller: cerad_user__user_person__create_controller:action
    _template: '@CeradUser\UserPerson\Create\UserPersonCreateForm.html.twig'
