parameters:
#    cerad_app.example.class: Cerad\Bundle\AppBundle\Example

services:

# =======================================================================
# ProjectPerson Register
#
    cerad_person__project_person_model_factory:
        class: Cerad\Bundle\AppBundle\Action\ProjectPerson\ProjectPersonModel
        calls:
             - [setDispatcher,['@event_dispatcher']]
        arguments:
           - '@cerad_person__person_repository'

    cerad_person__project_person__register_form_factory:
        class: Cerad\Bundle\AppBundle\Action\ProjectPerson\Register\ProjectPersonRegisterFormFactory
        calls:
             - [setRouter,      ['@router']]
             - [setFormFactory, ['@form.factory']]
             
    cerad_person__project_person__register_controller:
        class: Cerad\Bundle\AppBundle\Action\ProjectPerson\Register\ProjectPersonRegisterController
        calls:
             - [setRouter,     ['@router']]
             - [setTemplating, ['@templating']]
             
# ====================================================
# Welcome and home stuff
    cerad_app__projects_model_factory:
        class: Cerad\Bundle\AppBundle\Action\ProjectsModel
        calls:
             - [setDispatcher,['@event_dispatcher']]
        arguments:
           - '@cerad_project__project_repository'
           
    cerad_app__welcome_controller:
        class: Cerad\Bundle\AppBundle\Action\Welcome\WelcomeController
        calls:
             - [setRouter,          ['@router']]
             - [setTemplating,      ['@templating']]
             - [setSecurityContext, ['@security.context']]
           
    cerad_app__home_controller:
        class: Cerad\Bundle\AppBundle\Action\Home\HomeController
        calls:
             - [setRouter,          ['@router']]
             - [setTemplating,      ['@templating']]
             - [setSecurityContext, ['@security.context']]
             
    cerad_app__home_view:
        class: Cerad\Bundle\AppBundle\Action\Home\HomeView
        calls:
             - [setRouter,          ['@router']]
             - [setTemplating,      ['@templating']]
             
    cerad_app__userinfo_controller:
        class: Cerad\Bundle\AppBundle\Action\UserInfo\UserInfoController
        calls:
             - [setRouter,          ['@router']]
             - [setTemplating,      ['@templating']]
             - [setSecurityContext, ['@security.context']]
