{# @CeradTourns/Account/Create/index.html.twig   #}
{% extends '@CeradTourns/layout.html.twig' %}

{% block content %}
   
<h3>Create New Zayso Account</h3>

{% include '@CeradTourns/Account/Create/form.html.twig' %}
{% include '@CeradTourns/Account/Create/help.html.twig' %}

{% endblock %}{# end content block #}
