# ========================================================================
# Accounts

cerad_tourn_account_create:
    pattern:  /account/create
    defaults: { _controller: CeradTournBundle:Account/AccountCreate:create }
#               _template    CeradTourn/Account/Create/AccountCreateIndex.html.twig
#                                                     /AccountCreateForm.html.twig
#                                                     /AccountCreateHelp.html.twig
#               _service     cerad_user.user_manager
#               _service     cerad_person.person_repository
    
# ==================================================================
# login/logout stuff works on a resource called user
# 
cerad_tourn_account_user_login:
    pattern:  /account-user/login
    defaults: { _controller: CeradTournsBundle:AccountUser/AccountUserLogin:login }
#                           @CeradTourn/AccountUser/AccountUserLoginIndex.html.twig
#                                                  /AccountUserLoginForm.html.twig
#                                                  /AccountUserLoginHelp.html.twig
cerad_tourn_account_user_login_check:
    pattern:  /account-user/check
    
cerad_tourn_account_user_logout:
    pattern:  /account-user/logout
  
# ================================================
# Here we shift to the tourns routes
# All og which start with a project slug
   
cerad_tourn_welcome:
    pattern:  /welcome
    defaults: { _controller: CeradTournsBundle:Tourns/TournsWelcome:welcome}
    
cerad_tourns_welcome:
    pattern:  /{slug}/welcome
    defaults: { _controller: CeradTournsBundle:Tourns/TournsWelcome:welcome}
    
cerad_tourn_home:
    pattern:  /home
    defaults: { _controller: CeradTournsBundle:Tourns/TournsHome:home}
    
cerad_tourns_home:
    pattern:  /{slug}/home
    defaults: { _controller: CeradTournsBundle:Tourns/TournsHome:home}
    
cerad_tourns_person_plan_update:
    pattern:  /person/plan/{personId}/{slug}
    defaults: { _controller: CeradTournsBundle:PersonPlan/PersonPlanUpdate:update, 'personId' : 0}
    
# ==============================
# Basically the last stop
# Store the slug in the session
# Essientally the person plan stuff
cerad_tourns_index:
    pattern:  /{slug}
    defaults: { _controller: CeradTournsBundle:Tourns/TournsIndex:index }
    
# =================================
# TODO: Admin Interface
cerad_tourns_admin_edit:
    pattern:  /{project}/admin/edit/{id}
    defaults: { _controller: CeradTournsBundle:Admin:edit }
    
cerad_tourns_admin_list:
    pattern:  /{project}/admin.{_format}
    defaults: { _controller: CeradTournsBundle:Admin:list, _format: html }
    requirements:
        _format:  html|csv|xls|pdf
