{# @CeradTourns/UserInfo/index.html.twig #}

{#
    We are not logged in
#}
<div id="userinfo">
    Zayso Guest:
    <a href="{{ path('cerad_tourn_welcome')        }}">List of Tournaments</a>
    <a href="{{ path('cerad_tourn_account_login')  }}">Log In</a>
    <a href="{{ path('cerad_tourn_account_create') }}">Create Zayso Account</a>
</div>
