{# @CeradTourns/Tourns/Welcome/TournsWelcomeIndex.html.twig   #}
{% extends '@CeradTourns/Layout.html.twig' %}

{% block content %}

{{ include('@CeradTourns/Tourns/Welcome/TournsListPublic.html.twig') }}

<h3>Log in to Register for a Tournament.</h3>
{{ render(controller('CeradTournsBundle:AccountUser/AccountUserLogin:loginForm')) }}

{# render(controller('CeradTournBundle:Account/AccountCreate:createForm')) #}

{% endblock %}{# end content block #}
