{# @CeradTourns/base.html.twig #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Cerad Referee Scheduling"/>
    <meta name="author" content="Art Hundiak"/>
    
    <title>{% block title %}Tournaments{% endblock %}</title>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/ceradtourns/images/favicon.ico') }}" />

{% block stylesheets %}{%endblock %} 

</head>

<body>
{% block body %}       {%endblock %}     
{% block javascripts %}{% endblock %}
</body>

</html>
