{# @CeradTourns/Layout.html.twig #}
{% extends '@CeradTourns/Base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/ceradtourns/css/reset.css') }}" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/ceradtourns/css/basic.css') }}" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/ceradtourns/css/forms.css') }}" media="all" />
{% endblock %}

{% block layout_body %}
<div id="layout-body">

{% block layout_userinfo %}
<div id="layout-userinfo">
    {% render(controller('CeradTournsBundle:Tourns/TournsUserInfo:render')) %}
</div>
{% endblock %}
    
<div id="layout-content">{% block content %}{% endblock %}</div>

</div>
{% endblock %} {# end body block #}

