{# @CeradTourns/Layout.html.twig #}
{% extends '@CeradTourns/Base.html.twig' %}

{% block stylesheetsx %}
<link rel="stylesheet" href="{# asset('bundles/ceradtourns/css/tourns.css') #}" media="all" />
{% endblock %}

{% block layout_body %}
<div id="layout-body">

{% block layout_userinfo %}
<div id="layout-userinfo">
    {% render(controller('CeradTournsBundle:Tourns/TournsUserInfo:render')) %}
</div>
{% endblock %}
    
<div id="layout-content">{% block content %}{% endblock %}</div>

</div>
{% endblock %} {# end body block #}

