{# @CeradTourns/AccountUser/Login/AccountUserLoginHelp.html.twig #}

<ul class="cerad_common_help" style="width: 600px;">
    {#
    <li>By popular demand, you can now create a zayso tournament account.
        This in turn will let you avoid having to retype all your information for each tournament.
        You will also be able to come back and modify your availability if required.
    </li>#}
</ul>

