{# @CeradTourns/Tourns/Home/TournsListUser.html.twig   #}

<h3>Register For Tournament</h3>
<ul class="tournaments-list">
{% for project in projects %}
{% if  project.status == 'Active' %}
    <li>
        <a href="{{ path('cerad_tourn_person_plan_update', { 'slug': project.slug, 'personId' : person.id }) }}">{{ project.desc }}</a>
    </li>
{% endif  %}
{% endfor %}
</ul>
{% if is_granted('ROLE_ADMIN') %}
<h3>Admin List</h3>
<ul class="tournaments-list">
{% for project in projects %}
{% if  project.status == 'Active' %}
    <li>
        <a href="{{ path('cerad_tourn_admin_person_plans_list', { 'slug': project.slug }) }}">{{ project.desc }}</a>
    </li>
{% endif  %}
{% endfor %}
</ul>
{% endif  %} {# ROLE_ADMIN #}
