{# @CeradTourns/Tourns/Home/TournsListPublic.html.twig   #}

<h3>Register For Tournament</h3>
<ul>
{% for project in projects %}
{% if  project.status == 'Active' %}
    <li>
        <a href="{{ path('cerad_tourn_person_plan_update', { 'slug': project.slug, 'personId' : person.id }) }}">{{ project.desc }}</a>
    </li>
</ul>
{% endif  %}
{% endfor %}
{% if is_granted('ROLE_ADMIN') %}
<h3>Admin List</h3>
{% for project in projects %}
{% if  project.status == 'Active' %}
    <li>
        <a href="{{ path('cerad_tourn_admin_person_plans_list', { 'slug': project.slug }) }}">{{ project.desc }}</a>
    </li>
{% endif  %}
{% endfor %}
{% endif  %} {# ROLE_ADMIN #}
