{# @CeradTourns/Tourns/Home/TournsListPublic.html.twig   #}

<h3>Signup For Tournament</h3>
<ul class="tournaments-list">
{% for project in projects %}
{% if  project.status == 'Active' %}
    <li style="margin-bottom: 4px;">
        <a href="{{ path('cerad_tourn_person_plan_update', { 'slug': project.slug, 'personId' : person.id }) }}"
        >{{ project.desc }}</a>
    </li>
{% endif  %}
{% endfor %}
</ul>
