security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        
    role_hierarchy:
        ROLE_ASSIGNOR:    [ROLE_USER, ROLE_ASSIGNOR]
        ROLE_ADMIN:       [ROLE_USER, ROLE_ASSIGNOR]
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ASSIGNOR, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        memory_user_provider:
            memory:
                users:
                    user:     { password: user894,  roles: [ 'ROLE_USER' ]  }
                    admin:    { password: admin894, roles: [ 'ROLE_ADMIN' ] }
                    su:       { password: su894,    roles: [ 'ROLE_SUPER_ADMIN'] }
                    assignor: { password: assign,   roles: [ 'ROLE_ASSIGNOR'] }

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false
            
        tourns:
            pattern:   ^/
            anonymous: ~
            
            form_login:
                check_path:    cerad_tourns_login_check
                login_path:    cerad_tourns_login
                default_target_path: cerad_tourns_welcome
                
                provider:      memory_user_provider
                csrf_provider: form.csrf_provider
                
            logout:
                path:       cerad_tourns_logout
                target:     cerad_tourns_welcome   
                
            remember_me:
                key:      "%secret%"
                lifetime: 31536000  # 365 days in seconds
                path:     cerad_tourns_welcome
                domain:   ~

    access_control:
        - { path: '^/[A-Za-z0-9_-]+/admin',roles: ROLE_ASSIGNOR }


