{# @CeradTourns/Person/Edit/index.html.twig   #}
{% extends '@CeradTourns/layout.html.twig' %}

{% block content %}
   
<h3>Edit: {{ person.name}} </h3>

{% include '@CeradTourns/Person/Edit/form.html.twig' %}
{% include '@CeradTourns/Person/Edit/help.html.twig' %}

{% endblock %}{# end content block #}
