{# @CeradTourns/Register/Step1/index.html.twig   #}
{% extends '@CeradTourns/layout.html.twig' %}

{% block content %}
   
<h3>{{ project.desc}}</h3>

{% include '@CeradTourns/Register/Step1/form.html.twig' %}
{% include '@CeradTourns/Register/Step1/help.html.twig' %}

{% endblock %}{# end content block #}
