{# @CeradTourns/Tourns/Welcome/TournsListPublic.html.twig   #}

<h3>Register For Tournament</h3>
<ul class="tournaments-list">
{% for project in projects %}
  <li><a href="{{ project.registerUrl }}">{{ project.desc }}</a></li>
{% endfor %}
</ul>
