<div>
    Admin User: {{ user.accountName }}
    <a href="{{ path('cerad_app__home') }}">Home</a>
    <a href="{{ path('cerad_tourn_person_update', { personId: userPerson.id }) }}">My Info</a>
    <a href="{{ path('cerad_tourn_account_user_logout') }}">Logout</a>
</div>
