{# @CeradApp/Welcome/WelcomeIndex.html.twig   #}
{% extends '@CeradApp/Layout.html.twig' %}

{% block content %}

{{ include('@CeradApp/Welcome/ProjectsList.html.twig') }}

<h3>Account is now Required for Registering</h3>
<p>
    Please take a few minutes to create youself an account.
    By doing so you will avoid the need to enter all your USSF information for each tournament.
    It slao allows you to update your tournament plans if necessary.
</p>
<h3>Log in Below if you Already have an Account</h3>
{{ render(route('cerad_user__user__login_form')) }}

<h3>Create an Account</h3>
{{ render(route('cerad_user__user_person__create_form',{ '_route': 'cerad_user__user_person__create' } )) }}

{% endblock %}{# end content block #}
