{# @CeradTourns/PersonPlan/Edit/index.html.twig   #}
{% extends '@CeradTourns/layout.html.twig' %}

{% block content %}
   
<h3>{{ project.desc}}</h3>
<h3>{{ person.name}} </h3>

{% include '@CeradTourns/PersonPlan/Edit/form.html.twig' %}
{% include '@CeradTourns/PersonPlan/Edit/help.html.twig' %}

{% endblock %}{# end content block #}
