{# @CeradTourns/AccountPassword/ResetRequest/AccountPasswordResetRequestForm.html.twig   #}
{% extends '@CeradTourns/Layout.html.twig' %}

{% block content %}
   
<h3>Reset Zayso Password</h3>

{% include '@CeradTourns/AccountPassword/ResetRequest/AccountPasswordResetRequestForm.html.twig' %}
{% include '@CeradTourns/AccountPassword/ResetRequest/AccountPasswordResetRequestHelp.html.twig' %}

{% endblock %}{# end content block #}
